# CS 356 Lab 0: Python Data Practice


[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/defreez/cs356-notebooks/blob/main/notebooks/lab0.ipynb)

## Part 1: Python Exercises

Some questions from the Kaggle tutorials, some not.
Fix all the cells so that they match up with the comments.

When you are done, share the Colab notebook with me and submit the Moodle assignment with a link to your notebook.

In [ ]:
# 1.1
# Create a variable called x that contains the floating point value 42.0

In [ ]:
# 1.2
# Define a function called swap_ht that swaps the first and last elements of a list in place.
# If the list has fewer than two elements, leave it unchanged.
# You must use negative indexing.
def swap_ht(a):
  pass

b = [1,2,3]
swap_ht(b) 
b

[1, 2, 3]

In [ ]:
# 1.3 Fix the function below.
def has_lucky_number(nums):
    """Return whether the given list of numbers is lucky. A lucky list contains
    at least one number divisible by 7.
    """
    for num in nums:
        if num % 7 == 0:
            return True
        else:
            return False

In [ ]:
#Look at the Python expression below. What do you think we'll get when we run it? When you've made your prediction, uncomment the code and run the cell to see if you were right.
#Recomment the code when you are finished so that the notebook will run cleanly.

#[1, 2, 3, 4] > 2

In [ ]:
# 1.4
# R and Python have some libraries (like numpy and pandas) compare each element of the list to 2 (i.e. do an 'element-wise' comparison) and give us a list of booleans like [False, False, True, True].
# Implement a function that reproduces this behaviour, returning a list of booleans corresponding to whether the corresponding element is greater than n.

def elementwise_greater_than(L, thresh):
    """Return a list with the same length as L, where the value at index i is 
    True if L[i] is greater than thresh, and False otherwise.
    
    >>> elementwise_greater_than([1, 2, 3, 4], 2)
    [False, False, True, True]
    """
    pass

In [ ]:
import numpy as np

In [ ]:
# 1.5 Use numpy stack and reshape to create an array with shape (3, 6) from a, b, c.
# Do this by converting each (2, 3) array into an an array of shape (6,).
# This process of converting a rank-2 array (matrix) into a rank-1 array (vector) is a common task
# when working with images.
a = [[1.0, 1.1, 1.2], [1.3, 1.4, 1.5]]
b = [[2.0, 2.1, 2.2], [2.3, 2.4, 2.5]]
c = [[3.0, 3.1, 3.2], [3.3, 3.4, 3.5]]

## Part 2: Pandas

In this part we'll do a basic analysis of some real tabular data with
Pandas. The purpose is to get a feel for working with data using the
built-in functions provided by a library, rather than falling back
to Python.

In this section pay particular attention to variable names as I have left gaps between cells for you to fill in. You will need to get the output of one cell to match up the input of the next cell.

Any spot that you see a TODO you must fix the problem.

### Analyzing EPA AQI Data

The rogue valley was air-quality challenged this summer. Let's see if we can evaluate just how bad it was, and at the same time get some practice manipulating data with Python and Jupyter notebooks.

### Get the data

The first thing we need to do is get some data to process. The EPA provides daily AQI data for every county in the United States.

The `.csv` at 
https://sou.box.com/shared/static/y8ziqne5xertm7t5siolng41m9km905q.csv
contains daily AQI data for every county in the US, starting at 1980.

In [ ]:
# 2.1
# Use pandas to load the .csv file into a DataFrame varuable.
# This is a 900MB csv. It might take a little time to download.
import pandas as pd
# df = ...

In [ ]:
df

### Jackson county dataframe

Create a new Pandas dataframe called `jackson_df` that only includes data from Jackson county in Oregon.

In [ ]:
# 2.2
# Only include rows with State Name is Oregon and county name is Jackson
# jackson_df = ...
jackson_df

In [ ]:
# 2.3
# Use a Pandas map to add a 'Year' column to the jackson_df dataframe
# This column should map 1980-01-01 -> 1980, 2020-12-31 -> 2020, etc.
# You will likely get a SettingWithCopyWarning. That's OK.
# jackson_df['Year'] = ...
jackson_df

In [ ]:
# 2.4
# Filter jackson_df to only include rows with an AQI >= 151
# jackson_df = ...
jackson_df

If jackson_df is setup correctly, the rest
of the notebook should run and produce a plot at the end.
The 2021 data is handled separately because it is from a different EPA
data source and has a different format.

**For each cell below, add a brief comment that describes what the cell is doing. Some of this we did not cover in class. Google it or infer from the output.**

In [ ]:
year_df = jackson_df.groupby(['Year']).size().to_frame('unhealthy days')
year_df = year_df.reset_index()

In [ ]:
# 2021 data
df_2021 = pd.read_csv('https://sou.box.com/shared/static/icwh5d9udh0yl7eqt2nshh7z02uk30kc.csv')
df_2021['DAILY_AQI_VALUE'] = pd.to_numeric(df_2021['DAILY_AQI_VALUE'])
this_year = len(df_2021[df_2021['DAILY_AQI_VALUE'] >= 151])
year_df = year_df.append({"Year": "2021", "unhealthy days": this_year}, ignore_index=True)
year_df

In [ ]:
year_df = year_df.set_index('Year')
year_df

In [ ]:
idx = [str(x) for x in list(range(1980, 2022))]
reindexed = year_df.reindex(idx, fill_value=0)
reindexed = reindexed.reset_index()

In [ ]:
reindexed['3yr'] = reindexed['unhealthy days'].rolling(3).mean().shift(-1)
reindexed = reindexed.set_index('Year')
reindexed

In [ ]:
import seaborn as sns
sns.set(rc={'figure.figsize':(30,8.27)})
sns.lineplot(data=reindexed)

After successfully completing the steps above, you should be left with
a plot that you can visually inspect.

**Based on the plot, answer the following question:**

Based on the rolling 3 year mean, has the AQI for the last three years in Jackson county been particularly bad, or is this a normal fluctuation?